@import url('https://fonts.googleapis.com/css?family=Poppings:200,300,400,500,600,700,800,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
    }
    .container .left_Side
{
    position: relative;
    background: #003147;
    padding: 40px;
    }
    .ProfileText
{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}
.ProfileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.ProfileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileText h2
{
    font-size: 1.5em;
    margin-top: 20px;
    text-transform:  uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    color: #fff;
}
.ProfileText h2 span
{
    font-size: 0.8;
    font-weight: 300;
}
.contactInfo 
{
    padding-top: 40px ;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
}
.contactInfo ul li .icon 
{
    display: inline-block;
    width: 40px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
}
.contactInfo.education h5
{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 300;
}
    margin-bottom: 15px;
{
    padding: 40px;
}
.contactInfo .language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo .language li
{
    color: #fff;
}
.contactInfo.language .percent div
{
    position: absolute; 
    top: 0;
    left:0;
    height: 100%;
    background:#03a9f4;
}
.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;

}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.senior{
    padding-bottom: 8px;
    padding-top: 8px;
}
.emma{
    padding-top: 8px;
    padding-bottom: 8px;
}
P{
    color: #333;
}

.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;   
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848C90;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #2A7DA2;
    font-size: 16px;

} 
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #848C99;
    font-weight: 500;

}
.skills .box .percent
{
    position: relative;
    width: 100;
    height: 10px;
    background: #f0F0F0;

}
.skills .box .percent div
{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: #03A9f4;
    
}